/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --subtitle-text-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --accent-sbtl-clr: #FF0070;
  --display: flex;
  --heading-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --heading-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bkg-color: black;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
}